.catalog {
  background-color: $color-black-pearl-2;
}

.catalog__wrapper {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 113px;
  max-width: 1222px;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 46px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 54px;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-family: $ff-title;
  font-size: 36px;
  line-height: 50px;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 37px;
    margin-left: 25px;
  }

  @include vp-767 {
    display: none;
  }
}

.catalog__text-mobile {
  display: none;

  @include vp-767 {
    display: block;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 0;

    font-family: $ff-title;
    font-size: 28px;
    line-height: 39px;
    color: $color-white;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 350px));
  justify-content: space-between;
  column-gap: 7%;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 26px;
    margin-right: 26px;
  }

  @include vp-767 {
    margin-right: 18px;
    margin-left: 16px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  background-color: $color-black-pearl;
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &--make {
    background-position: 16.5% 69%;
  }

  &--assembling {
    background-position: 46.7% 72%;
  }

  &--accessories {
    background-position: 78.1% 65.3%;
  }

  @include retina {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main@2x.jpg");
    }
  }

  @include vp-1023 {
    margin-right: 0;
    background-size: auto;

    &--make {
      background-position: 29.5% 96.5%;
    }

    &--assembling {
      background-position: 76% 55%;
    }

    &--accessories {
      background-position: 18% 63%;
    }
  }

  @include vp-767 {
    margin-bottom: 30px;

    &--make {
      background-position: 30.6% 52.7%;
    }

    &--assembling {
      background-position: 29.7% 94.5%;
    }

    &--accessories {
      background-position: 72.3% 69.6%;
    }
  }
}

.catalog__item:nth-child(3n) {
  margin-right: 0;
}

.catalog__link {
  position: relative;
  display: block;
  width: 100%;
  min-height: 650px;
  font-family: $ff-title;
  font-size: 20px;
  line-height: 30px;
  color: $color-white;
  text-decoration: none;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 24, 39, 0.5);
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    cursor: pointer;

    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  @include vp-1023 {
    min-height: 250px;
  }

  @include vp-767 {
    font-size: 18px;
  }
}

.catalog__item-title {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 170px;
  z-index: 5;

  font-size: 20px;
  line-height: 30px;
  font-weight: 400;

  @include vp-1023 {
    top: 18px;
    left: 45px;
    width: 150px;
  }

  @include vp-767 {
    top: 7px;
    left: 29px;
    width: 135px;
    font-size: 18px;
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
}
