.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 375px 1fr 345px;
  max-width: 1222px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 55px;

  color: rgba(255, 255, 255, 0.7);

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;
    margin-left: 26px;
    padding-top: 48px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-top: 37px;
    margin-left: 7px;
  }
}

.footer__inner-wrapper {
  @include vp-1023 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: -4px;
  }

  @include vp-767 {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 13px;
  }
}

.footer__navigation-wrapper,
.footer__contacts-wrapper {
  @include vp-767 {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: calc(100vw - (100vw - 304px) / 2 * (-1));
      height: 1px;
      bottom: 0;
      left: calc((100vw - 270px) / 2 * (-1));
      background-color: rgba(248, 253, 255, 0.7);
    }
  }
}

.footer__navigation-wrapper {
  @include vp-767 {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: calc(100vw - (100vw - 304px) / 2 * (-1));
      height: 1px;
      top: -25px;
      left: calc((100vw - 270px) / 2 * (-1));
      background-color: rgba(248, 253, 255, 0.7);
    }
  }
}

.footer__link {
  display: block;
  margin-bottom: 25px;

  @include vp-767 {
    margin-bottom: 7px;
    margin-left: -10px;
  }
}

.footer__navigation,
.footer__contacts {
  padding-top: 8px;

  @include vp-1023 {
    padding-top: 16px;
  }

  @include vp-767 {
    width: 100%;
    padding: 25px 0 0 10px;
  }
}

.footer__navigation {
  justify-self: start;

  @include vp-1023 {
    padding-right: 0;
    justify-self: start;
  }
}

.footer__socials-list,
.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    margin-right: 14px;
  }

  @include vp-767 {
    margin-right: 0;
    padding-top: 0;
    justify-content: center;
  }
}

.footer__socials-item {
  margin-right: 10px;

  @include vp-1023 {
    margin-right: 5px;
  }
}

.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-link {
  display: block;
  padding: 10px;
}

.footer__socials-link svg {
  fill: #f8fdff;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        fill: rgba(#f8fdff, 0.6);
      }
    }

    &.focus-visible:focus {
      fill: rgba(#f8fdff, 0.8);
    }
  }

  @include active {
    &.focus-visible:active {
      fill: rgba(#f8fdff, 0.3);
    }
  }
}

.footer__links-lists {
  display: flex;

  @include vp-1023 {
    flex-direction: column;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-1023 {
    max-height: 100%;
  }
}

.footer__nav-list:first-child {
  margin-right: 50px;
}

.footer__nav-title,
.footer__contacts-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: $ff-title;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.footer__contacts-title {
  margin-bottom: 23px;

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.footer__nav-item {
  margin-bottom: 5px;

  @include vp-1279 {
    padding-right: 15px;
  }
}

.footer__nav-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        color: $color-default-white;
        font-weight: 700;
      }
    }

    &.focus-visible:focus {
      color: rgba($color-default-white, 0.6);
    }
  }

  @include active {
    &.focus-visible:active {
      color: rgba($color-default-white, 0.3);
    }
  }
}

.footer__contacts-address-wrapper p {
  margin: 0;
  padding: 0;
  font-style: normal;

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}

p.footer__contacts-address {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;

  @include vp-767 {
    margin-bottom: 8px;
  }
}

a.footer__contacts-phone {
  display: block;
  margin-bottom: 6px;
  font-family: inherit;
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        color: $color-default-white;
        font-weight: 700;
      }
    }

    &.focus-visible:focus {
      color: rgba($color-default-white, 0.6);
    }
  }

  @include active {
    &.focus-visible:active {
      color: rgba($color-default-white, 0.3);
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}

.footer__nav-button,
.footer__contacts-button {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    top: -10px;
    right: 15px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;

    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 10px;
      right: 5px;
      width: 15px;
      height: 1px;
      background-color: $color-silver;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}
